<style>
  /*================ New Code - 3d Discovery Tools Pages ================*/
  h4.threed-discovery-tools {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }

  h3.threed-discovery-tools {
    color: #394B51;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  p.threed-discovery-tools {
    color: #394B51;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .threed-discovery-tools-wrapper {
    display: grid;
    padding: 20px;
    background: #EC6203;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/whitebackgroundwithlogobits.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 290px);
    background-size: contain;
  }
</style>

<div class="threed-discovery-tools-wrapper">
  <div><img alt="3D Discovery Tools – ObeCell ObaGel&trade;| ObaGel&trade;"
      src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/3DDiscoveryToolsHeader.png" />
  </div>
  <div>
    <h4 class="threed-discovery-tools">leverage your research with our science</h4>
    <p class="threed-discovery-tools">
      Obatala Sciences offers the first commercially available human derived 3D culture scaffold, ObaGel&trade;.
      ObaGel&trade; is an innovative product designed to overcome the translational barrier between animal models and
      clinical response. ObaGel&trade; enables researchers to use all human derived products in their research
      and better replicate in vivo.
  </div>
</div>