/*================ New Code - 3d Discovery Tools Pages ================*/
<style>
  h4.threed-discovery-tools {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }

  h3.threed-discovery-tools {
    color: #394B51;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
  }

  p.threed-discovery-tools {
    color: #394B51;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .threed-discovery-tools-wrapper {
    display: grid;
    padding: 20px;
    background: #EC6203;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/whitebackgroundwithlogobits.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 290px);
    background-size: contain;
  }
</style>

<div class="threed-discovery-tools-wrapper">
  <div><img alt="3d Discovery Tools | ObaCell&trade;"
      src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/3DDiscoveryToolsHeader.png" />
  </div>
  <div>
    <h4 class="threed-discovery-tools">leverage your research with our science</h4>
    <h3 class="threed-discovery-tools"> 3D Discovery Tools – ObaCell&trade;</h3>
    <p class="threed-discovery-tools">
      Obatala Sciences offers the first commercially available human fat on a chip model, ObaCell&trade;. ObaCell&trade;
      comes as a kit including ObaGel&trade;, a human derived 3D culture scaffold, cells, and culture media.
      ObaCell&trade; is intended as a tool for disease modeling and drug screening, but it could be so much more as a
      plug and play system that can work with other organ-on-a-chip models. </p>
  </div>
</div>