/*================ New Code - M & V Look ================*/
<style>
  h4.cell-manufacturing-pages {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }

  p.cell-manufacturing-pages {
    color: #FFFFFF;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .cell-manufacturing-wrapper {
    display: grid;
    padding: 20px;
    background: #394B51;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/obatalathickerbackground.gif?1517");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 290px);
    background-size: contain;
  }
</style>

<div class="cell-manufacturing-wrapper">
  <div><img alt="Cell Manufacturing"
      src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/Cellmfgheader_66752230-b396-490b-a1e3-807b4657d4e7.png?1517" />
  </div>
  <div>
    <h4 class="cell-manufacturing-pages">leverage your research with our science</h4>
  </div>
  <div>
    <p class="cell-manufacturing-pages">Obatala Sciences manufactures murine GFP+ bone cells, bone marrow-derived
      stromal/stem cells, and white and brown adipose tissue-derived stromal stem cells. All of our cells are shipped
      overnight on dry ice</p>
  </div>
</div>