{% schema %}
  {
    "blocks": [
      {
        "type": "hero",
        "name": "Hero",
        "settings": [
          {
            "id": "bannerImage",
            "type": "image_picker",
            "label": "Image"
          }, 
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        },
        
	]
      },
	
      {
        "type": "comparison",
        "name": "Compare",
        "settings": [
          {
            "id": "comparisonImage",
            "type": "image_picker",
            "label": "image"
          },
          {
            "id": "comparisonTitle",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "comparisonSummary",
            "type": "textarea",
            "label": "Summary"
          },
          {
            "id": "comparisonButtonLink",
            "type": "url",
            "label": "Button Link"
          },
          {
            "id": "comparisonButtonText",
            "type": "text",
            "label": "Button Text"
          }
        ]
      }
    ]
  }
{% endschema %}