<style>
  h4.pages {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
  }

  p.pages {
    color: #FFFFFF;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }

  .mission-and-vision-wrapper {
    display: grid;
    padding: 20px;
    background: #394B51;
    border-top: 2px solid #EC6203;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
  }
</style>
<img alt="Mission and Vision" src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/missionheader.png" />
<div class="mission-and-vision-wrapper">
  <div>
    <h4 class="pages">our mission</h4>
    <p class="pages">Obatala Sciences is a biotechnology company that offers research enabling products and brain power
      to scientists in industry and academia with the goal of advancing tissue engineering and regenerative medicine. We
      are a team of thought leaders with the common goal of advancing our mission: promoting diversity to advance the
      study and prevention of diseases in the fields of obesity, diabetes, tissue engineering, and regenerative
      medicine.</p>
  </div>

  <div>
    <h4 class="pages">vision</h4>
    <p class="pages">To enable faster and safer delivery of innovative therapies that improve the quality of life for
      all patients regardless of ethnic backgrounds.</p>
  </div>

</div>