<style>
  h4.our-story-pages {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
  }

  p.our-story-pages {
    color: #FFFFFF;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }

  .our-story-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    min-height: 100%;
    background: #394B51;
    border-top: 2px solid #EC6203;
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/Obatala_Background2.png?1237");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 1240px);
    background-size: contain;
  }

  .our-story-photos-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    min-height: 010%;
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/Obatala_Background2.png?1237");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 500px);
    background-size: contain;
  }
</style>
<img alt="Our Story" src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/ourstory.jpg" />
<div class="our-story-wrapper">
  <div>
    <p class="pages">In the West African mythologies, Obatala is believed to be the god tasked with sculpting
      the human body. According to the Yoruba people, an ethnic group found predominantly in Nigeria, Obatala created
      human bodies from clay and mud.</p>
    <p class="pages">Obatala Sciences, Inc. was named as such to demonstrate our commitment to creating more
      accurate models of human tissue, starting with their building blocks: the cells. We strive to build models not
      just focused on a ‘one size fits all’ approach at the cellular level.</p>
    <p class="pages">We want our models to be inclusive of all human beings. Therefore, the Oba brand is
      committed to promoting representation of all ethnicities across all its operations: starting with the development
      of our products all the way to our staff diversity.</p>
    <p class="pages">Our products are developed from a pool of human donors representing multiple ethnicities,
      age groups, and genders. In this way, Obatala Sciences is dedicated to offering premium quality products that will
      aid the progression of the most advanced research and prevention of disease in all ethnicities.</p>
  </div>

  <div class="our-story-photos-wrapper">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/greydude.png?1644" alt="Grey Dude" />
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/statue.png" alt="Statue" />
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/mask.png" alt="Mask" />
    </div>
  </div>