<style>
  h4.publications-pages {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
  }

  ul.publications-pages {
    color: #FFFFFF;
    margin: 0 16.66667px 16.66667px;
    padding: 4px 10px;
    list-style-type: none;
  }

  ul.publications-pages img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }

  a.publications-pages {
    color: #EC6203;
  }

  .publications-wrapper {
    display: grid;
    padding: 20px;
    background: #394B51;
    border-top: 2px solid #FFA500;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/Bigger_Background.gif");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 500px);
    background-size: contain;
  }
</style>
<div>
  <img alt="Publications" src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/publications.png" />
</div>
<div class="publications-wrapper">
  <div>
    <h4 class="publications-pages">2018</h4>
    <ul class="publications-pages">
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/30419261" class="publications-pages">The cell secretome in
          personalized and regenerative
          medicine.</a> vBiochimie vol. 155 pg. 1
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/30262812" class="publications-pages">Adipose tissue mitochondrial
          dysfunction in human obesity
          is linked to a specific DNA methylation signature in adipose-derived stem cells.</a> Adipose tissue
        mitochondrial dysfunction in human obesity is linked to a specific DNA methylation signature in adipose-derived
        stem cells.</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29882687" class="publications-pages">Gender and age-related cell
          compositional differences in
          C57BL/6 murine adipose tissue stromal vascular fraction.</a> Adipocyte vol. 7 pg. 183-189</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29693792" class="publications-pages">Comparative proteomic analyses
          of human adipose
          extracellular matrices decellularized using alternative procedures.</a> Journal of Biomedical Materials
        Research vol. 106 pg. 2481-2493</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29687389" class="publications-pages">Isolation of Murine
          Adipose-Derived Stromal/Stem Cells
          Using an Explant Culture Method.</a> Methods in Molecular Biology vol. 1773 pg. 167-171</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29687388" class="publications-pages">Isolation of Human
          Adipose-Derived Stem Cells from
          Lipoaspirates.</a> Methods in Molecular Biology vol. 1773 pg. 155-165</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29687386" class="publications-pages">Isolation of Murine
          Adipose-Derived Stromal/Stem Cells
          for Adipogenic Differentiation or Flow Cytometry-Based Analysis.</a> Molecular Biology vol. 1773 pg. 137-146
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29667012" class="publications-pages"> Bone Marrow Adipocyte
          Developmental Origin and
          Biology.</a>Current Osteoporosis Reports vol. 16 pg. 312-319</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29411671" class="publications-pages"> Mirna biogenesis pathway is
          differentially regulated
          during adipose derived stromal/stem cell differentiation</a>
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29377109" class="publications-pages"> Trauma induced heterotopic
          ossification patient serum
          alters mitogen activated protein kinase signaling in adipose stem cells</a>Cell Physiology vol. 233 pg.
        7035-7044</li>

    </ul>
    <h4 class="publications-pages">2017</h4>
    <ul class="publications-pages">
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29141507" class="publications-pages">Sandwiched White Adipose
          Tissue: A Microphysiological
          System of Primary Human Adipose Tissue</a> Tissue Engineering vol. 24 pg. 135-145</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/28371152" class="publications-pages"> Foxn1 and Mmp-9 expression in
          intact skin and during
          excisional wound repair in young, adult, and old C57Bl/6 mice</a> Wound Repair and Regeneration vol. 25 pg.
        248-259</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29527228" class="publications-pages">Obesity Enhances the
          Conversion of Adipose-Derived
          Stromal/Stem Cells into Carcinoma-Associated Fibroblast Leading to Cancer Cell Proliferation and Progression
          to an Invasive Phenotype.</a> Stem Cells International vol. 2017</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/27837560" class="publications-pages">Cryopreserved Adipose
          Tissue-Derived Stromal/Stem Cells:
          Potential for Applications in Clinic and Therapy.</a> Advances in Experimental Medicine and Biology vol. 951
        pg. 137-146</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/27733015" class="publications-pages"> Adipose Stromal Vascular
          Fraction-Mediated Improvements
          at Late-Stage Disease in a Murine Model of Multiple Sclerosis.</a> Stem Cells vol. 35 pg. 532-544</li>
    </ul>
    <h4 class="publications-pages">2016</h4>
    <ul class="publications-pages">
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/27310337" class="publications-pages">The Relative Functionality of
          Freshly Isolated and
          Cryopreserved Human Adipose-Derived Stromal/Stem Cells</a> Cells Tissues Organs</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/27306665" class="publications-pages">Tissue-engineered autologous
          grafts for facial bone
          reconstruction.</a>Science Translational Medicine
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/27144097" class="publications-pages">Human cytomegalovirus
          infection of human adipose-derived
          stromal/stem cells restricts differentiation along the adipogenic lineage</a> Adipocyte vol. 5 pg. 53-64</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26995405" class="publications-pages">Mechanisms of metabolism,
          aging and obesity</a> Biochimie
        vol. 124 pg. 1-2</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26865460" class="publications-pages">Serially Transplanted
          Nonpericytic CD146(-) Adipose
          Stromal/Stem Cells in Silk Bioscaffolds Regenerate Adipose Tissue In Vivo.</a> Stem Cells vol. 34 pg.
        1097-1111
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26830970" class="publications-pages">Vasopressin-induced Ca(2+)
          signals in human
          adipose-derived stem cells.</a> Cell Calcium vol. 59 pg. 135-139</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26818763" class="publications-pages">Obesity inhibits the
          osteogenic differentiation of human
          adipose-derived stem cells</a> Journal of Translational Medicine
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26700612" class="publications-pages">Human Adipose Stromal/Stem
          Cells from Obese Donors Show
          Reduced Efficacy in Halting Disease Progression in the Experimental Autoimmune Encephalomyelitis Model of
          Multiple Sclerosis</a> Stem Cells vol. 34 pg. 614-626</li>
    </ul>
    <h4 class="publications-pages">2015</h4>
    <ul class="publications-pages">
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/26399244" class="publications-pages">Perspective: autologous
          skeletal muscle cells for the
          treatment of fecal incontinence</a> Techniques in Colopractology vol. 19 pg. 667-668</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/25900728" class="publications-pages">Adipose stromal cells repair
          pressure ulcers in both
          young and elderly mice: potential role of adipogenesis in skin repair</a> Stem Cells Translational Medicine
        vol. 4 pg. 632-642</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/25878945" class="publications-pages">Characterization of a Murine
          Pressure Ulcer Model to
          Assess Efficacy of Adipose-derived Stromal Cells</a> Plastic and Reconstructive Surgery vol. 3</li>
    </ul>
    <h4 class="publications-pages">2014</h4>
    <ul class="publications-pages">
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/25411475">Adipose-derived stromal cells promote allograft tolerance
          induction.</a> Stem Cells Translational Medicine vol. 3 pg. 1444-1450</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/25253672">Burned to the bone.</a> Science Translational Medicine
        vol. 6</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/24835190" class="publications-pages">Glycemic control is impaired
          in the evening in
          prediabetes through multiple diurnal rhythms.</a> Journal of Diabetes and Its Complications vol. 28 pg.
        836-843</li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/24529434" class="publications-pages">Human adipose-derived
          stromal/stem cell isolation,
          culture, and osteogenic differentiation.</a> Methods in Enzymology vol. 538 pg. 67-68</li>
    </ul>
  </div>
</div>