<style>
  /*================ New Code - Services Pages ================*/
  h4.services {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }

  h3.services {
    color: #394B51;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  p.services {
    color: #394B51;
    margin: 0 16.66667px 16.66667px;
    padding: 0 10px;
  }

  img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .services-wrapper {
    display: grid;
    padding: 20px;
    background: #EC6203;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    background-image: url("https://cdn.shopify.com/s/files/1/0066/8617/9364/files/whitebackgroundwithlogobits.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) calc(100% - 290px);
    background-size: contain;
  }
</style>

<div class="services-wrapper">
  <div><img alt="3d Discovery Tools" src="https://cdn.shopify.com/s/files/1/0066/8617/9364/files/Services.png" />
  </div>
  <div>
    <h4 class="cell-manufacturing-pages">leverage your research with our science</h4>
    <p class="services">Obatala offers contract research services to industry and academia. Our clients include the
      government, contract research organizations non-profit organizations and academic research laboratories. Our
      in-house research has had support from the NIH and the NSF.</p>
    <p class="services">Our research areas include obesity, diabetes, energy metabolism, obesity-related disorders,
      cancer, musculoskeletal system biology, wound healing and regenerative medicine. We offer primary cell isolation
      and expansion services for regenerative medicine applications, wound healing models (pressure injury) and murine
      cell-based therapy and other small animal studies within the regenerative medicine space.</p>
    <h3 class="services">Fat-On-a-Chip Model</h3>
    <p class="services">ObaCell&trade; is a great tool for disease modeling and drug screening. We can provide data in
      various areas depending on your interest.</p>
    <h3 class="services">Proteomics</h3>
    <p class="services">We can measure changes in proteins expressed as well as those secreted.</p>
    <h3 class="services">Genomics</h3>
    <p class="services">If a biomarker is expressed at a genomic level and it is not abundantly expressed in the
      conditioned medium, we can digest our fat-on-a-chip and analyze gene expression.</p>
    <h3 class="services">Functionality</h3>
    <p class="services">We can measure endpoints such as glucose uptake and lipolysis at various timepoints giving an
      indicator of adipose tissue functionality.</p>
    <h3 class="services">Adipokine Secretion</h3>
    <p class="services">We can look at any adipokine of interest and any other markers of safety that you are interested
      in.</p>
    <p class="services">We are always looking for new ways to apply ObaCell&trade;, so please contact us with any
      questions about the particular data you are interested in!</p>
    <p class="services">Obatala’s team of scientists have developed highest quality trilineage differentiation media on
      the market under our Qual&trade; product line. We currently offer AdipoQual&trade;, OsteoQualTM and
      ChondroQual&trade;:our adipogenic, osteogenic and chondrogenic differentiation media.</p>
    <p class="services">We also offer our stromal basal medium StromaQual&trade;, the recommended medium to maintain
      Obatala mesenchymal stem cells. We also offer Oil Red O Staining Solution, Alizarin Red Staining Solution,
      Live-Dead Solution, and Cryopreservation Medium.</p>
  </div>
</div>