<style>

    /*================ New Code - Two Column Resonsive Team Page ================*/

    .team-wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-columns: 1/2;
    }

    .board-wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, minmax(100%, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-columns: 1/2;
    }
    /*================ New Code - Dark Background Pages ================*/
    h4.pages {
        color: #FFFFFF;
        text-transform: capitalize;
        text-align: left;
        font-weight: 700;
    }

    p.pages {
        color: #FFFFFF;
        padding: 10px;
    }

    img {
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }

    .mission-and-vision-wrapper {
        display: grid;
        background: #394B51;
        border-top: 2px solid #EC6203;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(150px, auto);
    }
</style>

<!-- Team Members -->
<h2 style="text-align: center;"><img alt="Obatala Team" src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/ourteamupdated_large.png?v=1553982400" style="float: none;"/></h2>
<h2 style="text-align: center;">Everyone in our company from management to R&amp;D has experience with cell culture research" "Let us help you get the results you want!"</h2>
<div class="team-wrapper">
    <div>
        <h2 style="text-align: center;"><img alt="Trivia Frazier, Ph.D., MBA  President &amp; CEO" src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/trivia-frazier-photo_compact.png?v=1553731546" style="float: none;"/></h2>
        <h4 style="text-align: center;">Trivia Frazier, Ph.D., MBA
            <br/>
            President &amp; CEO</h4>
        <p class="team">Dr. Frazier received her Ph.D. from Tulane University School of Medicine, graduating from the Biomedical Sciences Program in 2012. Her dissertation training projects involved the use of cryopreserved adult mesenchymal stem cells derived from adipose tissue for clinical use in tissue reconstruction and regenerative medicine applications. She has held tenure-track faculty positions at Delgado Community College and served as Program Chair in the Chemistry and Chemical Technology Department at Dillard University. Currently, Dr. Frazier is developing ‘fat-on-a-chip’ technology at LaCell.</p>
        <p class="team">
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gimble+jm" target="_blank" rel="noopener noreferrer">Link to Publications</a>
        </p>
    </div>
    <div>
        <h2 style="text-align: center;"><img alt="Jeffrey Gimble, MD, PhD  Board Member &amp; Co-Founder" src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/jeffrey-gamble-photo_compact.png?v=1553731545" style="float: none;"/></h2>
        <h4 style="text-align: center;">Jeffrey Gimble, MD, PhD
            <br/>
            Board Member &amp; Co-Founder</h4>
        <p>Dr. Gimble received his M.D. and Ph.D. from Yale University, where he began his 30+ year research career. During this time, he has held several full-time and adjunct faculty positions and has biotechnology industry experience on staff at Zen-Bio and as a co-founder of Artecel Sciences. Dr. Gimble’s professional career has focused on the isolation, characterization, and clinical translation of stromal/stem cells from adipose tissue, bone, and bone marrow, resulting in more than 200 published manuscripts. Together with Dr. Wu, he co-founded LaCell LLC to provide this expertise to the broader academic and biotech research communities.</p>
        <p class="team">
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gimble+jm" target="_blank" rel="noopener noreferrer">Link to Publications</a>
        </p>
    </div>
    <div>
        <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/xiying-wu-photo_compact.png?v=1553731547" alt="Xiying Wu, MD Board Member &amp;, Co-Founder &amp; Director of Research &amp; Development"/></h2>
        <h4 style="text-align: center;">Xiying Wu, MD<br/>
            Board Member &amp;, Co-Founder &amp; Director of Research &amp; Development</h4>
        <p>Dr. Wu received her M.D. from the Norman Bethun Medical University in Changchun, China. After one year of clinical training, Dr. Wu decided to pursue a research pathway, emigrated to the United States, and began working on stromal/stem cells with Dr. Gimble in 1991.</p>
        <p>Since Dr. Wu has worked in stromal/stem cell research in and out of academia and has co-authored over 50 manuscripts with Dr. Gimble. In 2012, she moved to a full-time position as Vice President of Research &amp; Development at LaCell LLC. Dr. Wu plays an integral role in determining LaCell’s commercial and scientific direction.</p>
        <p>
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gimble+jm" target="_blank" rel="noopener noreferrer">Link to Publications</a>
        </p>
        <p>
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=wu+x%2C+gimble+j" target="_blank" rel="noopener noreferrer">Link to Publications</a>
        </p>
    </div>
    <div>
        <h2 style="text-align: center;"><img alt="Dehan Elcin, M.S. Business Development Manager" src="//cdn.shopify.com/s/files/1/0016/1667/4862/files/dehan-elcin-photo_compact.png?v=1553960212" style="float: none;"/></h2>
        <h4 style="text-align: center;">Dehan Elcin, M.S.<br/>
            Business Development Manager</h4>
        <p>Dehan got his bachelor's and master's degree in Biomedical Engineering from Tulane University in 2018. Dehan got his bachelor's and master's degree in Biomedical Engineering from Tulane University in 2018. His bachelor's thesis focused on computational modeling of transcranial magnetic stimulation. He is very interested in biotechnology commercialization and has briefly worked at Axosim, a nerve on a chip company, as a marketing intern.</p>
        <p>Dehan currently works at LaCell, LLC as a business development manager, spearheading various marketing and sales operations.</p>
    </div>
    <div>
        <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/andrea-alarcon-photo_compact.png?v=1553731499" alt="Andrea Alarcon, B.S.  Research Technician"/></h2>
        <h4 style="text-align: center;">Andrea Alarcon, B.S.
            <br/>
            Research Technician</h4>
        <p>Andrea Alarcon earned her Bachelor of Science in Biological Sciences from Loyola University New Orleans in 2017. At Loyola, she worked as a Research Assistant under Dr. Kimberlee Mix on the investigation of novel therapeutic targets for rheumatoid arthritis, specifically in the role of nuclear receptor 4A2 factor in joint tissues.</p>
        <p>Her research focused on the histological analysis of joint tissues of mouse models of arthritis, as well as on the immunohistochemical analysis of the expression of the NR4A2 protein in the joints. Prior to her current job, she briefly worked for an environmental company based in Atlanta as Laboratory Analyst. Andrea is currently working at LaCell, LLC as a Research Technician, assisting the company in several projects.</p>
        <p></p>
        <div></div>
        <!-- Board Members -->
        <h2 style="text-align: center;">OUR BOARD MEMBERS</h2>
        <div class="board-wrapper">
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/ken-eilertsen-photo_compact.png?v=1553731545" alt="Ken Eilertsen, PhD"/></h2>
                <h4 style="text-align: center;">Ken Eilertsen, PhD</h4>
            </div>
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/shafin-khan2_compact.png?v=1553731547" alt="Shafin Khan, JD"/></h2>
                <h4 style="text-align: center;">Shafin Khan, JD</h4>
            </div>
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/frank-greenway-photo_compact.png?v=1553731545" alt="Frank Greenway III, MD"/></h2>
                <h4 style="text-align: center;">Frank Greenway III, MD</h4>
            </div>
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/elizabeth-floyd-photo_compact.png?v=1553731545" alt="Elizabeth Floyd, Ph.D."/></h2>
                <h4 style="text-align: center;">Elizabeth Floyd, Ph.D.</h4>
            </div>
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/bruce-bunnell-photo2_compact.png?v=1553731543" alt="Bruce Bunnell, Ph.D."/></h2>
                <h4 style="text-align: center;">Bruce Bunnell, Ph.D.</h4>
            </div>
            <div>
                <h2 style="text-align: center;"><img src="//cdn.shopify.com/s/files/1/0066/8617/9364/files/barbara-gawronska-photo_compact.png?v=1553731545" alt="Barbara Gawronska-Kozak, Ph.D."/></h2>
                <h4 style="text-align: center;">Barbara Gawronska-Kozak, Ph.D.</h4>
            </div>
        </div>
    </div>
</div>