
.row {
  display: flex; 
  //flex-flow: row wrap;
  justify-content: space-between;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}



<h2>Two Equal Columns</h2>
<div class="row">
<div class="column" style="background-color: #aaa;">
<h2 style="text-align: left;"></h2>
<meta charset="utf-8" />
<h4 style="text-align: center;"><img alt="" src="//cdn.shopify.com/s/files/1/0016/1667/4862/files/xiying-wu-photo_compact.png?v=1553960230" style="float: none;" /></h4>
<h4 style="text-align: center;">Xiying Wu, MD<br />Board Member and Co-Founder</h4>
<div style="text-align: center;"></div>
<h4 style="text-align: center;">Co-Founder &amp; Director of Research &amp; Development</h4>
<meta charset="utf-8" />
<div>Dr. Wu received her M.D. from the Norman Bethun Medical University in Changchun, China. After one year of clinical training, Dr. Wu decided to pursue a research pathway, emigrated to the United States, and began working on stromal/stem cells with Dr. Gimble in 1991.</div>
<div></div>
<div></div>
<p>Since Dr. Wu has worked in stromal/stem cell research in and out of academia and has co-authored over 50 manuscripts with Dr. Gimble. In 2012, she moved to a full-time position as Vice President of Research &amp; Development at LaCell LLC. Dr. Wu plays an integral role in determining LaCell’s commercial and scientific direction.</p>
<p> </p>
<p><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gimble+jm" target="_blank" rel="noopener noreferrer">Link to Publications</a></p>
<p><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=wu+x%2C+gimble+j" target="_blank" rel="noopener noreferrer">Link to Publications</a></p>
<p> </p>
</div>
<div class="column" style="background-color: #bbb;"><meta charset="utf-8" />
<h2 style="text-align: left;"></h2>
<h2 style="text-align: left;"><img alt="" src="//cdn.shopify.com/s/files/1/0016/1667/4862/files/dehan-elcin-photo_compact.png?v=1553960212" style="float: none;" /></h2>
<meta charset="utf-8" />
<h4>Dehan Elcin, M.S.</h4>
<h4>Business Development Manager</h4>
<meta charset="utf-8" />
<div>Dehan<span> got his bachelor's and master's degree in Biomedical </span>Engineering from Tulane University in 2018. Dehan got his bachelor's and master's degree in Biomedical Engineering from Tulane University in 2018. His bachelor's thesis focused on computational modeling of transcranial magnetic stimulation. He is very interested in biotechnology commercialization and has briefly worked at Axosim, a nerve on a chip company, as a marketing intern.</div>
<p> </p>
<p>Dehan currently works at LaCell, LLC as a business development manager, spearheading various marketing and sales operations.</p>
<meta charset="utf-8" />
<p><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=gimble+jm" target="_blank" rel="noopener noreferrer"><u>Link to Publications</u></a></p>
</div>
</div>